<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body style = "background-color:#ffb">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#cosmetice">Cosmetice</a></li>
            <li role="presentation"><a href="#produs">Produs</a></li>
			<li role="presentation"><a href="#fruct">Fruct</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div >
      <h1 style="font-family:courier;"><em>{{ helloWorld }}</em></h1>
      <p><em>Writing this live into the browser...</em></p>
    </div>
  </div>

  <hr/>

  <!-- /Clasa 1 - Cosmetice -->
  <div class="container" ng-controller="HomeController">
    <h1 style="font-family:courier;"><mark>Cosmetice</mark></h1>
    <h2>Lista cosmetice</h2>
    <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="cosmetica in cosmetice" data-id="{{cosmetica.id}}">
            <td>{{ cosmetica.name }}</td>
            <td>{{ cosmetica.id }}</td>
            <td>
                <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateCosmetic(cosmetica)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteCosmetica(cosmetica.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>
     

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza cosmetice</h2>
		 
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editCosmetic.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editCosmetic.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateCosmetic()">Save</button>
            </form>
        </div>

      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga cosmetice</h2>
		<form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="cosmetica.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="cosmetica.name">
                </div>

                <button ng-click="addCosmetica(cosmetica)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>

  <!-- /Clasa 2 - Produs -->
  <div class="container" ng-controller="HomController">
    <h1 style="font-family:courier;"><mark>Produs</mark></h1>
    <h2>Lista produse</h2>
      <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="produs in produse" data-id="{{produs.id}}">
            <td>{{ produs.name }}</td>
            <td>{{ produs.id }}</td>
            <td>
          <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateProduct(produs)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteProdus(produs.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza produse</h2>
        <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editProduct.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editProduct.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateProduct()">Save</button>
        </form>
       </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga produse</h2>
		<form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="produs.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="produs.name">
                </div>

                <button ng-click="addProdus(produs)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>
   
  
    <!-- /Clasa 3 - Fruct -->
  <div class="container" ng-controller="HoController" >
    <h1 style="font-family:courier;"><mark>Fruct</mark></h1>
    <h2>Lista fructe</h2>
   <table class="table table-bordered">
	    <tr>
            <th ng-repeat="field in fields">{{field | uppercase}}</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
		
		<tr ng-repeat="fruct in fructe" data-id="{{fruct.id}}">
            <td>{{ fruct.name }}</td>
            <td>{{ fruct.id }}</td>
            <td>
          <a href="">
				
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
            <button ng-click="setUpdateFruit(fruct)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
            <button ng-click="deleteFruct(fruct.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
	  </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Editeaza fructe</h2>
         <form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editFruit.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editFruit.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updateFruit()">Save</button>
        </form>
       </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Adauga fructe</h2>
		<form>
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="fruct.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="fruct.name">
                </div>

                <button ng-click="addFruct(fruct)" class="btn btn-success">Add</button>
            </form>
        </div>
	</div>

</div>

<hr/>
  
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Otesanu Maria-Madalina, 333AA</p>
    </footer>
  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
